html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    scroll-behavior: smooth;
    overflow-x: hidden;}

  header {
    background-color: #1a395a;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .photo_profil {
    width: 300px;
    height: 250px;
    border-radius: 50%;
    margin: 0 auto;
    display:block;
    border: 2px solid white;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}

  main {
    flex: 1; /* pousse le footer vers le bas */
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }

  nav a:hover {
    text-decoration: underline;
    color: #ffcc00;
}

  
  .projet {
    background-color: white;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  @media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .presentation {
        flex-direction: column;
        text-align: center;
    }

    .presentation img {
        width: 120px;
        max-width: 100%;
    height: auto;
    }

    .projet {
        padding: 0 15px;
        width: 100%;
        box-sizing: border-box;
    }
}

#btnTop {
    display: none; /* Caché au départ */
    position: fixed;
    bottom: 40px;
    right: 30px;
    z-index: 100;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #1a395a;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    transition: opacity 0.3s;
  }
  
  #btnTop:hover {
    background-color: #4996fc;
  }
  
